@media (max-width: 1048px) {
  .head__menu {
    display: none;
  }

  .head__reg {
    display: none;
  }
}

@media (max-width: 900px) {

  .title-badges__row {
    flex-flow: row wrap;
    justify-content: center;
  }

  .title-badges__column {
    margin: 57px 0 auto 0;
  }
  .title-badges__column:nth-of-type(0n+2) {
    margin: 57px 0 auto 67px;
  }

  .label__body {
  padding: 0 0 0 20px;
  margin: auto 0; 
}
  .label__item:nth-child(1) {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}
  .label__item:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
  .label__img-speed {
     align-self: center;
     background: url('images/Speed.png') center bottom no-repeat;
     width: 66px;
     height: 51px;
}
   .label__img-road {
     align-self: flex-end;
     background: url('images/Road icon2.png') center bottom no-repeat;
     width: 43px;
     height: 71px;
}
   .title__test {
     align-self: flex-end;
}
   .test__img {
     align-self: center;
     width: 30px;
     height: 30px;
     background: url('images/steering-wheel1.png') center center no-repeat;
 }
   .test__item {
     color: #E51937;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 20px;
  }
   .title__button {
     margin: 0 0 0 45px;
  }
   .button__item {
     width: 220px;
     height: 55px;
     background: #E51937;
     color: #FFFFFF;
  }


   .title__car {
     padding: 0 47px;
}

   .title__badges::after {
     display: block;
     width: 28px;
     height: 16px;
     margin: 63px auto 0 auto;
     content: " ";
     background: url(images/Vector1.png) center center no-repeat ;
}
   .salon {
}
   .salon__content {
     max-width: 1548px;
}
   .salon__row {
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     
}

   .salon__column {
     display: flex;
     flex-flow: column wrap;
     flex: 1 1 500px;
}
   .salon__text {
     background: url("images/2013-tesla-model-s-cockpit22.png") left bottom no-repeat;
     background-size: 100% auto;
     flex: 1 1 auto;
     padding: 0;
}
   .text__title {
     text-align: right;
     padding: 0 35px 0 0;
}
   .salon__right-sidebar {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}
   .right-sidebar__column {
     flex: 1 1 380px;
}
   .right-sidebar__title {
     font-weight: 500;
     font-size: 30px;
     line-height: 37px;
     color: #FFFFFF;
}
   .right-sidebar__text {
     margin: 11px 45px 64px 52px;
}
   .right-sidebar__badges{
     flex: 0 1 380px;
     margin: 68px 0 0 0;
}
   .right-sidebar__info {
     margin: 60px 0 63px 0;
}
   .salon__button {
     margin: 0 0 0 36px;
}
   .button__order{
     cursor: pointer;
     width: 220px;
     height: 55px;
     border: 2px solid #FFFFFF;
     background: #E51937;
     color: #FFFFFF;
     font-style: normal;
     font-weight: bold;
     font-size: 13px;
}
   .analysis__content {
     background: url("images/Model S.png") center 6% no-repeat;
     background-size: 75% auto;
}
   .analysis__car {
    width: 100%;
    order: 1;
}
    .car__image {
    position: relative;
}
   .analysis__img {
    position: absolute;
    top: 60px;
    left: -25px;
    z-index: 3;
    width: 100%;
}
   .analysis__column {
    order: 2;
}
   .analysis__row {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
   .columns__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex: 1 0 400px;
}
   .left-sidebar__textblock {
    margin: 51px 0 0 34px;
    flex: 1 1 250px;
    padding: 0 50px 0 0;
}
   .left-sidebar__title {
    margin: 0 0 12px 0;
}
   .left-sidebar__text {
    margin: 0 0 0 0;
}
   .left-sidebar__columns {
    margin: 51px 55px 0 0;
}
   .left-sidebar__badges {
    display: none;
}
   .left-sidebar__info {
    margin: 70px auto 63px auto;
}
   .analysis__button {
    margin: 0 0 0 36px;
}
   .button__order{
    width: 220px;
    height: 55px;

}
}
@media (max-width: 768px) {
  
   .title__column {
    margin: 0 0 76px 0;
  }

}