@media (max-width: 375px) {
	body {
	    width: 375px;
	    height: 1895px;
	    position: relative;
	    border: 1px solid black;
      }

      .head__icon {
      	position: absolute;
        width: 138px;
        height: 42px;
        left: -40px;
        top: 75px;

      }

      .head__dropdown-menu {
	   position: absolute;
       width: 24px;
       height: 15px;
       left: -860px;
       top: 69px;
      }

      .title {
	   height: 200px;
      }


      .title__caption {
	    position: absolute;
        width: 206px;
        height: 61px;
        left: 85px;
        top: 147px;
        font-size: 50px;
	    font-family: Montserrat;
	    font-weight: 500;
	    font-style: normal;
      }
     .title__under {
	    position: absolute;
        width: 161px;
        height: 13px;
        left: 108px;
        top: 205px;
	    font-size: 10px;
	    line-height: 18px;
	    font-family: Montserrat;
	    font-weight: 400;
	    font-style: normal;
      }

     .title__car {
	    width: 357px;
        height: 166px;
	    position: absolute;
	    left: 9px;
	    top: 267px;
      }

      .title__picture {
	    width: 428px;
        height: 139px;
	    position: absolute;
	    left: -29px;
	    top: 226px;
      }

       .title__badges {
	    position: relative;
	    margin: 390px 0 0 51px;
	    width: 890px;
      }

      .title__badges:after {
	    top: 180px;
	    left: 125px;
     }

     .title__speed {
	    width: 160px;
        float: left;
      }

      .title-speed__list {
	    margin: 10px;
      }

      .title-speed__art {
	    float: left;
	    width: 38.14px;
        height: 27.98px;
      }


      .title-speed__item:nth-child(1) {
	    font-weight: 500;
        font-size: 27px;
      }

      .title-speed__item:nth-child(2) {
      	margin-top: 12px;
        margin-left: 5px;
        font-size: 15px;
      }

      .title-speed__item:nth-child(3) {
	    font-weight: 400;
        font-size: 10px;
      }

      .title__distance {
	    width: 170px;
        float: left;
        margin-left: 0;
      }

      .title-distance__art {
	    margin-top: 10px;
	    margin-right: 10px;
	    float: left;
	    width: 21.89px;
        height: 34.74px;
      }

      .title-distance__list {
	    margin: 5px 0 0 0;
      }

      .title-distance__item:nth-child(1) {
	    font-weight: 500;
        font-size: 27px;
        float: left;
      }

      .title-distance__item:nth-child(2) {
        margin-left: 5px;
        margin-top: 12px;
        font-size: 15px;
      }
       
      .title-distance__item:nth-child(3) {
	    font-weight: 400;
        font-size: 10px;
        margin-right: 0;
      }

      .title__test {
	    height: 22px;
	    margin-left: 0;
	    margin-top: 55px;
	    clear: both;
	    top: 91.11px;
	    color: #E51937;
       }

     .title-test__art {
        width: 22px;
        height: 22px;
       }

     .title-test__line {
	    margin-left: 9px;
	    margin-top: 3px;
        font-size: 13px;
        text-transform: uppercase;
       }

      .title-button__order {
        width: 160px;
        height: 40px;
	    margin-left: 20px;
        font-weight: 500;
        font-size: 13px;
       }

       .salon {
	    position: relative;
	    width: 100%;
	    height: 550px;
       }

       .salon-headline__title {
	    display: none;
       }

       .salon__art {
     	position: absolute;
     	top: 0;
     	z-index: 1;
     	width: 375px;
     	height: 337px;
     	overflow: hidden;
       }

       .salon-art__desk {
       	background: url('image/2013-tesla-model-s-cockpit(mobile).png') no-repeat center center;
        background-size: cover;
        width: 470px;
     	height: 337px;
       }

       .salon__sidebar {
	    position: absolute;
        width: 375px;
        height: 304px;
        top: 337px;
        left: 0;
        background-color: #E51937;
       }

       .salon__text {
	    position: absolute;
	    width: 325px;
	    top: 0;
	    left: 29px;
       }  

       .salon-text__caption{
    	font-family: Montserrat;
        font-weight: 500;
    	font-style: normal;
        font-size: 30px;
        color: white;
        margin: 18px 0 18px 0;
       }

      .salon__badges {
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 52px;
       }


       .analysis {
	    position: relative;
	    height: 700px;
	    width: 375px;
	    overflow: hidden;
      }

      .analysis__sidebar {
	    position: absolute;
        width: 400px;
        height: 304px;
        background-color: #E51937;
        top: 400px;
      }

      .analysis__caption {
        left: -8px;
        top: -16px;
	    font-size: 100px;
      }

       .analysis__car {
       	position: absolute;
        width: 361.83px;
        height: 186.25px;	
        top: -55px;
        
      }
      .analysis__art {
	     position: absolute;
     	 left: 0px;
     	 z-index: 1;
     	 width: 750px;
         height: 200px;
        }


      .analysis__text {
	    position: absolute;
	    width: 360px;
	    height: 304px;
	    top: 0px;
	    left: 29px;
      }

      .analysis-text__caption {
	    font-family: Montserrat;
        font-weight: 500;
	    font-style: normal;
        font-size: 30px;
        line-height: 37px;
        color: #FFFFFF;
      }

      .analysis-text__section {
      	display:block;
      	width: 310px;
	    font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
      }

      .analysis__evaluation {
         display: none;
        }

      .analysis__protect {
	     display: none;
        }

      .analysis__button {
	     display: none;
        }




}