* {
	box-sizing: border-box;
}

body {
	margin: auto;
	padding: auto;
	width: 1440px;
	height: 2700px;
	position: relative;
}
     /*Шапка сайта*/

.head__forehead {
	position: relative;
    width: 1337.28px;
    height: 51px;
    top: 24px;
    left: 42.72px;
}

     /*Логотип*/

.head__logo {
    position: absolute;
}

.head__icon {

}

     /*Навигационная панель*/

.head__menu {
	position: absolute;
	left: 420.14px;
	display: inline;
	margin-right: 20px;
}

.head-nav__item {
	display: inline;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
}

.head-nav__item:nth-child(1) {
	margin-right: 15px;
}
.head-nav__item:nth-child(5) {
	margin-left: 15px;
}

.head-nav__link {
	display: inline-block;
	padding: 15px 10px 10px 10px;
	text-decoration: none;
	color: black;
}

.head-nav__link.head-nav__link_active {
	color: #E51937;
}

.head-nav__link.head-nav__link_active:hover {
	background: url(images/Vector.png) no-repeat center bottom;
}

      /*Магазин*/

.head__reg {
	position: absolute;
	height: 19px;
	left: 1144px;
	top: 16px;
}
.head__list {
    position: absolute;
    width:200px;
    left: 10px;
    height: 19px;
    top: 0;
}

.head-reg__item {
	display: inline;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
}

.head-reg__item:nth-child(1){
	margin-right: 25px;
}
.head-reg__item:nth-child(2){
	margin-right: 25px;
}

.head-reg__link {
	display: inline-block;
	text-decoration: none;
	color: black;
}
 
   /*Меню*/

.head__dropdown-menu {
	position: absolute;
	width: 24px;
	height: 15px;
	top: 3px;
}

.head__line {
	display: block;
	background-color: #E51937;
	border-radius: 0 0 2px 2px;
	position: absolute;
	left: 144px;;
	width: 100%;
	height: 2px;
	margin-left: 50px;
}

.head__line:nth-child(1) {
	top: 0;
}

.head__line:nth-child(2) {
	top: 7px;
}

.head__line:nth-child(3) {
	top: 14px;
}

   /*Первая секция*/

.title {
	display: block;
    margin-top: 80px;
	width: 1440px;
	height: 765px;
}

.title__item_caption {
	margin: 0;
	text-align: center;
	font-size: 90px;
	font-family: Montserrat;
	font-weight: 500;
	font-style: normal;
}
.title__item_under {
	margin: -10px 0 0 0;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Montserrat;
	font-weight: 500;
	font-style: normal;
}

      /* Фон*/

.title__item_picture {
	position: absolute;
	left: -37px;
	top: 135px;
}

.title__item_car {
	position: absolute;
	left: 236px;
	top: 279px;
}
    /*Значки*/

.title__badges {
	position: relative;
	margin: 489px 0 0 321px;
	width: 890px;
}

.title__badges_speed_list {
	margin-top: 0;
}

.title__badges:after {
	width: 38px;
	height: 24px;
	top: 100px;
	left: 400px;
	position: absolute;
	content: "";
	background: url(images/Vector2.png) no-repeat center center;
}


   /*Скорость*/

.title__badges_speed {
	display: block;
	width: 170px;
    float: left;
}

.title__badges_speed_art {
	margin-top: 15px;
	margin-right: 15px;
	float: left;
}

.title__badges_speed_list {

}

.title__badges_speed_list li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin-bottom: -10px;
}

.title__badges_speed_list li:nth-child(1) {
	font-weight: 600;
    font-size: 35px;
}

.title__badges_speed_list li:nth-child(2) {
	font-weight: 600;
    font-size: 20px;
}

.title__badges_speed_list li:nth-child(3) {
	font-weight: normal;
    font-size: 12px;
}

   /*Расстояние*/

.title__badges_distance {
	width: 170px;
	margin-left: 82px;
	display: block;
	float: left;
}

.title__badges_distance_art {
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.title__badges_distance_list {
	margin: 0;
}

.title__badges_distance_list li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin-bottom: -10px;
}

.title__badges_distance_list li:nth-child(1) {
	font-weight: 600;
    font-size: 35px;

}

.title__badges_distance_list li:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
 
}

.title__badges_distance_list li:nth-child(3) {
	font-weight: normal;
    font-size: 12px;
    
    
}

    /* КНОПКА */

.title__badges_button {
	height: 22px;
	float: left;
	margin-left: 55px;
	margin-top: 25px;
}

.title__badges_button_art {
	float: left;
}

.title__badges_button_line {
	margin-left: 7px;
	display: inline-block;
	font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 16px;
}

.title__badges_order_button {
	background-color: white;
	width: 160px;
	height: 40px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #E51937;
	margin-left: 40px;
	margin-top: 15px;
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E51937;
}


/* Вторая секция*/


.salon {
	position: relative;
	width: 100%;
	height: 900px;
}

.salon__headline h1 {
	position: absolute;
	width: 488px;
    height: 86px;
    left: 80px;
	font-size: 70px;
	font-family: Montserrat;
    line-height: 85px;
    font-weight: 500;
	font-style: normal;
	color: #E51937;
    z-index: 2;
}

.salon__art {
	position: absolute;
	top: 35px;
	z-index: 1;
}

.salon__sidebar {
	position: absolute;
    width: 440px;
    height: 900px;
    left: 997px;
    background-color: #E51937;
    z-index: 3;
}

.salon__text {
	position: absolute;
	width: 325px;
	top: 51px;
	left: 52px;
}

.salon__text_caption{
	font-family: Montserrat;
    font-weight: 500;
	font-style: normal;
    font-size: 30px;
    color: white;
}

.salon__text_section {
	font-family: Montserrat;
    font-size: 15px;
    color: white;
}

/* Вторая секция ЗНАЧКИ*/

.salon__badges {
	width: auto;
	height: auto;
	position: absolute;
	top: 425px;
	left: 52px;
}

  /*Значек ЭКРАН*/

.salon__badges_screen {
	width: 200px;
    height: 65px;
}

.salon__badges_screen_art {
	position: absolute;
}

.salon__badges_screen_list{
	margin-left: 19px;

}
.salon__badges_screen_list li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin-bottom: -10px;
	margin-top: -10px;

}

.salon__badges_screen_list li:nth-child(1) {
	font-family: Montserrat;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 500;
	font-style: normal;
}

.salon__badges_screen_list li:nth-child(2) {
	margin-left: 7px;
	font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
}
.salon__badges_screen_list li:nth-child(3) {
	font-family: Montserrat;
    font-size: 12px;
    color: #FFFFFF;
}

/* Значек Wifi*/

.salon__badges_wifi {
	width: 269px;
    height: 71px;
    margin-top: 44px;
}

.salon__badges_wifi_art {
	position: absolute;
	left: -5px;
}

.salon__badges_wifi_list {
	margin-left: 22px;

}

.salon__badges_wifi_list li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	margin-bottom: 12px;
	margin-top: -20px;
}

.salon__badges_wifi_list li:nth-child(1) {
	font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
	font-style: normal;
	color: white;
}

.salon__badges_wifi_list li:nth-child(2) {
    font-family: Montserrat;
    font-size: 12px;
    color: white;
 }

  /*Значек БАТАРЕЯ*/

.salon__badges_battery {
	width: 202px;
    height: 71px;
    margin-top: 25px;
}

.salon__badges_battery_art {
	position: absolute;
}

.salon__badges_battery_list {
	margin-left: 20px;

}

.salon__badges_battery_list li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	margin-bottom: 8px;
	margin-top: -10px;
}

.salon__badges_battery_list li:nth-child(1) {
	font-family: Montserrat;
    font-size: 35px;
    color: white;
    font-weight: 500;
	font-style: normal;
}

.salon__badges_battery_list li:nth-child(2) {
    font-family: Montserrat;
    font-weight: 500;
	font-style: normal;
    font-size: 20px;
    color: white;
    margin-left: 5px;
 }

 .salon__badges_battery_list li:nth-child(3) {
 	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: white;
 }



    /* КНОПКА */

 .salon__badges_button {
 	width: 367px;
	margin-top: 100px;
}

.salon__badges_button_art {
     float: left;
}

.salon__badges_button_memo {
	display: inline-block;
	margin-top: 3px;
	margin-left: 7px;
	float: left;
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.salon__badges_order_button {
	background-color: #E51937;
	width: 160px;
	height: 40px;
	margin-left: 22px;
    margin-top: -9px;
	padding: 10px 10px 10px 10px;
	border: 2px solid white;
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}


/* Третья секция*/

.analysis {
	position: relative;
	height: 900px;
	width: 100%;
}

.analysis__sidebar {
	position: absolute;
    width: 440px;
    height: 900px;
    background-color: #E51937;
}

.analysis__art {
	position: absolute;
	left: 345px;
	top: 223px;
	z-index: 1;
}

.analysis__headline_caption {
	position: absolute;
	width: 830px;
    height: 269px;
    left: 635px;
    top: -16px;
	font-size: 195px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 244px;
    color: #E51937;
    opacity: 0.1;
}

.analysis__text {
	position: absolute;
	width: 325px;
	top: 51px;
	left: 52px;
}

.analysis__text_caption {
	font-family: Montserrat;
    font-weight: 500;
	font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.salon__text_section {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.analysis__text_evaluation {
	position: absolute;
	width: 325px;
	left: 56px;
    top: 320px;
}

.analysis__text_evaluation_catpion {
	font-family: Montserrat;
    font-weight: 500;
	font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.analysis__text_evaluation_rating {
	position: absolute;
	width: 316px;
	height: 134px;
	top: 80px;
}
.analysis__text_evaluation_rating p {
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}
 .analysis__text_evaluation_rating_small {
 	font-size: 10px;
 	opacity: 0.7;
 }

 .analysis__text_evaluation_rating_container {
 	position:absolute;
	display: block;
	left: 170px;
 }

.analysis__text_evaluation_rating_img {
    margin-bottom: 7px;
 }

.analysis__badges_protect {
	position: absolute;
	width: 300px;
	height: 92px;
	left: 66px;
	top: 666px;
}

.analysis__badges_protect_art {
	float: left;
}

.analysis__badges_protect_list {
	margin: 0;
	margin-left: 50px;
	margin-top: -5px;
}
.analysis__badges_protect_list li {
    margin-top: -5px;
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
}

.analysis__badges_protect_list li:nth-child(1) {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: white;
}

.analysis__badges_protect_list li:nth-child(2) {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: white;
}

.analysis__badges_button {
	position: absolute;
	width: 367px;
	top: 810px;
	left: 38px;
}

.analysis__badges_button_art {
	position: absolute;
}

.analysis__badges_button_memo {
	display: inline-block;
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-left: 32px;
    color: white;
}